<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>
  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="/">Home</a>
        <a class="blog-nav-item" href="/tags">Tags</a>
        <a class="blog-nav-item" href="/authors/new">New Author</a>
        <a class="blog-nav-item" href="/topten">Top Articles</a>
        <a class="blog-nav-item" href="/about">About</a>
        <% if logged_in? %>
          <span class="right"><%= "Logged in as #{current_user.username}" %> <a class="blog-nav-item" href="/logout">Logout</a></span>
        <% else %>
          <a class="blog-nav-item right" href="/login">Login</a>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">My RoR Experience</h1>
      <p class="lead blog-description">This is about my Ruby on Rails experience.</p>
    </div>
    <div class="row">

      <div class="col-sm-8 blog-main">
        <p class="flash">
          <%= flash.notice %>
        </p>
        <%= yield %>
      </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>This is a blog about my experience with <em>Ruby on Rails</em></p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <% Article.archives.sort.reverse.each do |archive, posts| %>
                <li><%= link_to archive, articles_by_archive_path(archive) %></a></li>
              <% end %>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
    </div>
  </div>
  <footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>

</body>

</html>
